fastapi
uvicorn
tensorflow 
pydantic
pillow
numpy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-multipart
firebase-admin
google-cloud-firestore
google-auth
google-auth-oauthlib
google-auth-httplib2