fastapi
uvicorn
tensorflow 
pydantic
pillow
numpy
python-multipart
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
firebase-admin
google-cloud-firestore
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
openpyxl
opencv-python
scipy
scikit-learn
pandas
matplotlib
